<footer id="footer">
  <div class="column-footer">
    <div class="column">
      <p>
        Esta aplicação utiliza a licença MIT (Massachusetts Institute of Technology).
        Todo o código está disponível no GitHub do desenvolvedor.<br>
      </p>
    </div>
    <div class="column">
      <a target="_blank" href="https://github.com/oGabrielSilva"><img src="/assets/img/github.svg" draggable="false"
          alt="Github"></a>
      <a href="#" target="_blank"><img src="/assets/img/instagram.svg" draggable="false" alt="Instagram"></a>
      <a href="#" target="_blank"><img src="/assets/img/linkedin.svg" draggable="false" alt="Linkedin"></a>
    </div>
    <div class="column">
      <p>
        &copy; Copyright 2021 by Gabriel Henrique da Silva. All Rights Reserved.
      </p>
      <p>
        8Bits Mensageiro is Powered by Gabriel.
      </p>
    </div>
  </div>
</footer>
<script src="/assets/js/bundle.js"></script>
</body>

</html>