<!doctype html>
<html lang="pt-BR">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="Gabriel Henrique da Silva">
      <meta name="description" content="Use esse aplicativo simples e intuitivo para trocar mensagens com qualquer pessoa.">
      <meta name="copyright" content="©2021 Gabriel Henrique da Silva">
      <title>Mensageiro</title>
      <link rel="shortcut icon" href="/assets/img/logo0.svg" type="image/x-icon">
  </head>
  <body>

