<%- include('includes/head') %>
    <%- include('includes/nav') %>

    <main class="sign">
        <div style="display: flex; align-items: center; justify-content: center; height: 80vh; width: auto;">
            <p style="font-size: 2rem;">Algo deu errado... :c</p>
        </div>
    </main>

<%- include('includes/footer') %>